.question
  %table
    %tbody
      %tr
        %td{class: :votecell}
          .vote
            %div{id: "question-vote-#{question.id}"}
              = render partial: "questions/votes", locals: {votes: question.votes, question: question}
            %div{id: "question-favorite-#{question.id}"}
              = render partial: "questions/favorites", locals: {favorites: question.favorites, question: question}
        %td
          .post-text
            = simple_format(question.body)
          .post-taglist
            - question.tags.each do |tag|
              = link_to tag.name, questions_path, class: "post-tag"
            %br
          .started
            = "更新日時:#{question.updated_at.getlocal.strftime("%m月%d日 %H:%M")}"
            |
            = question.user.user_name
            |
            = link_to_if question.user == current_user, '編集する', edit_question_path(question_id: question)
      %tr
        %td{class: :votecell}
        %td
          = render partial: "comments/comments", locals: {comments: question.comments, link_path: "/questions/#{question.id}/comments", parent: question}

