!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StackOverFlowCopy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .topbar
      %p
        - if user_signed_in?
          = current_user.email
          = link_to "ログオフ", destroy_user_session_path, :method => :delete
        - else
          = link_to "サインイン", new_user_registration_path
          = link_to "ログイン", new_user_session_path
    #header
      #hlogo
        %br
        %br
        = link_to "StackOverFlowCopy", root_path
      #hmenus
        %ul
          %li
            = link_to "質問", "#"
          %li
            = link_to "タグ", "#"
          %li
            = link_to "ユーザー", "#"
          %li
            = link_to "バッジ", "#"
          %li{class: params[:tab] == "unanswered" ? 'youarehere':'' }
            = link_to "未回答", questions_path(tab: :unanswered)
          %li
            = link_to "質問する", new_question_path
    .container
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      .row
        .col-md-10
          = yield
        .col-md-2
          %h2 Dummy